
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html, body { height: 100% }

body {
    background-color: black; }
  
/*TYPOGRAPHY*/

h1 {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #ffdf57;
}

h2 {
    font-weight: normal;
    font-size: 15px;
    background-color: black;
    padding-bottom: 5px;
    padding-bottom: 20px;
    color: #dae8ee;
}

h3 {
    font-weight: lighter;
    font-size: 18px;
    background-color: black;
    padding-bottom: 5px;
    padding-bottom: 20px;
    color: #dae8ee;
}

/*CONTENT*/

#title {
  background-position: center;
  background-repeat: no-repeat;
  position: center;  
  top: 15%;  
}

#header {
  background-image: url("img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  position: center;
  margin-top: 15px;
  height: 90px;
  width: 90px;
}
#header:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.floating-box {
  box-sizing: border-box;
  display: inline;
  float: left;
  position: relative;
  top: 8%;
  width: 60%;
  height: 175px;
  margin-left: 20%;
  padding: 10px;
  border: 1px solid #ffffff;  
}


p {
  color: white;
  text-align: center;


}




/*@media*/

@media screen and (min-width: 480px) {
    nav {
        width: 200px;
        float: left;     /* This makes it float to the left of the main content */
        margin-left: 0;
    }
}


@media screen and (max-width: 480px) {
   
    .floating-box {
    top: 5%;
    width: 90%;
    margin-left: 5%;
  }

    h1 {
      font-size: 22px;
}

    h2 {
      font-size: 13px;
}

  }


@media only print {

#header {
  margin-top: 0px; }
body {
    background-color: white; }
h1 {
    background-color: white; }
h2 {
    background-color: white;
    color: black; }
h3 {
    background-color: white;
    color: black; }
}
