
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html, body { height: 100% }

body {
  background-color: #dddddd; 
  background-image: url("img/grey.jpg");
  background-repeat: repeat-y;
  background-size: 100%;

}

/*SCROLLBAR & SELECTION*/

::selection {
  background: #f9d500; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffdf57; /* Gecko Browsers */
}

p54cd::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 100px rgba(194,0,255,1); 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 100px rgba(255,255,255,1);
}
  
/*TYPOGRAPHY*/



h1 {
  /*PAGE TITLE*/
  font-weight: normal;
  letter-spacing: 0.005em;
  font-size: 70px;
  margin-left: 1%;
  text-align: left;
}

h2 {
  /*SHIFT ON RIGHT SIDE OF PAGE*/
  font-weight: normal;
  color: white;
  margin-left: 20px; 
  margin-right: 7px;
  text-align: justify;
  text-align-last: justify;
}

h4 {
  /*SUBTITLE*/
  font-style: italic;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 18px;
  color: black;
  padding-left: 13%;
  padding-right: 13%;
}

p {
  /*BODY TEXT*/
  font-weight: 100;
  font-size: 21px;
  color: white;  
  text-align: left;
  line-height: 1.4em;
}

#p2 {
  text-indent: 30px;
}

p span { 
    padding: 3px;
}

#caption {
    padding: 3px;
    margin-top:-18px;
/*    margin-left: 15px;
*/    margin-bottom: 20px;
    text-align: left;
    color: red;
    background-color: white;
    line-height: 1.3em;
    font-size: 1.5em;
    width: 254px;
}

/*IMAGES*/

img {
    max-width: 260px;
    max-height: 100%;
    margin-bottom: 15px;   

}

.images {
    overflow: hidden;
    font-size: 0.7em;
    width: 26%;
    float: left;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: -100%;
}

a:link {

}

a:visited {

}

a:hover {
  text-decoration: underline;
  color: #03ff00;
  background-color: #ff17cf;
}

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
}


/*CONTENT*/

#chapter0 p span {  /*ABSTRACT*/
    background-color: white;
    color: black;
    font-size: 1.0em;
}

#title0 { 
  color: black;
  background-color: white;
  padding: 10px;
  margin-left: 2%;
  line-height: 4.7em;
}

#art-0 {
  background-color: #dddddd; 
  background-image: url("img/background0.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}



#chapter1 p span { 
    background-color: white;
    color: black;
}

#title1 { /*INTRODUCTION*/
  color: black;
  background-color: white;
  padding: 10px;
  margin-left: 2%;

}

#art-1 {
  background-color: #dddddd; 
  background-image: url("img/background1.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}



#chapter2 p span { 
    background-color: white;
    color: black;
}

#title2 { /*CHAPTER ONE*/
  color: black;
  background-color: white;
  padding: 10px;
  margin-left: 2%;
}

#art-2 {
  background-color: #dddddd; 
  background-image: url("img/background2.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}



#chapter3 p span { 
    background-color: white;
    color: black;
}

#title3 { /*THE 2ND ACT*/
  color: black;
  background-color: white;
  padding: 10px;
  margin-left: 2%;
}

#art-3 {
  background-image: url("img/background3.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}



#chapter4 p span {  
    background-color: white;
    color: black;
}

#title4 { /*PHASE III*/
  color: black;
  background-color: white;
  padding: 10px;
  margin-left: 2%;
}

#art-4 {
  background-image: url("img/background4.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}



#chapter5 p span { 
    background-color: white;
    color: black;
}

#title5 { /*FINALE*/
  color: black;
  background-color: white;
  padding: 10px;
  margin-left: 2%;
  line-height: 4.7em;
}


#art-5 {
  background-image: url("img/background5.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}




#shift {
  text-transform: uppercase;
  background-color: #c200ff;
  position: fixed;
  display: inline-block;
  overflow:hidden;
  right: -1%;
  bottom: 0;
  line-height: 80px;
  font-size: 213%;
  transform-origin: bottom right;
  -webkit-transform-origin: bottom right;
  width: 100vh;
  height: 9%;
  -webkit-transform: rotate(90deg) translateY(80px);
  -moz-transform: rotate(90deg) translateY(80px);
  -o-transform: rotate(90deg) translateY(80px);
  -ms-transform: rotate(90deg) translateY(80px);
  transform: rotate(90deg) translateY(80px);
  z-index: 100;
}

#shift:after {
  content: " ";
  display: inline-block;
  width: 100%;
}



/*MENU ON SIDE*/
#menu {
  font-weight: 100;
  font-size: 14px;
  color: white;
  position: fixed;
  left: 30px; 
  bottom: 2.5%;
}


/* REFERENCE NUMBERS IN TEXT*/
.refnote {
    color: red;
    font-size: 85%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.4em;
}

.refnote:hover {
    color: #f9d500

}

/*REFERENCES DIV*/
.textnotes {
    width: 15%;
    float: right;
    margin-right: 6.4%;
    z-index: -2;
    margin-top: 38px;

}

/*REFERENCE TEXT IN DIV(URL ECT.)*/
.textnotes p {
    color: #0018ff;
    background-color: white;
    padding: 5px;
    font-size: 0.9em;
    line-height: 1.4em;
    margin-bottom: 0.8em;
    padding-bottom: 0.5em;
    margin-top: 1.3em;
    margin-left: 1em;
    margin-right: 0.8em;
}

.textnotes a {
  color: black;
}

.textnotes a:hover {
    color: #fcc200;
}

/*NOTE NUMBER ON SIDE*/
.notenumber {
    font-size: 1.1em;
    text-decoration: none;
    background: none;
}

.notenumber a:hover {
   color: #03ff00;
   background-color: #ff17cf;
}


.floating-box {
  display: inline;
  float: left;
  position: relative;
  width: 45%;
  margin-left: 30.5%;
}

article {
  page-break-before: always;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}


/*@media*/

@media screen and (min-width: 480px) {
  nav {
      width: 200px;
      float: left;     /* This makes it float to the left of the main content */
      margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
   
.floating-box {
  top: 5%;
  width: 90%;
  margin-left: 1%;
  margin-right: 3%;
}

h1 {
  font-size: 40px;
  line-height: 40px;
}

h2 {
  font-size: 18px;
  padding-left: 5%;
  padding-right: 5%;
}
p {
  font-size: 16px;
  padding-left: 5%;
  padding-right: 5%;
}

#shift {  
  right: -14%;
  height: 7%;
  line-height: 46px;
}

.textnotes {
    display: none;
    background-color: white;
    border: none;
    font-size: 0.6em;
    line-height: 1.2em; 
    width: 19%;
    position: absolute;
    float: left;
    margin-left: 2%; 
    padding-top: -10px;
    z-index: 1;
}

img {
    max-width: 200px;
    max-height: 100%;
    padding-bottom: 7px;

}

#menu { 
  display: none;
}

}


@media only print {

@page { 
  margin:20px;
  margin-bottom: 30px;
  background-image: url("img/back.jpg");
  background-repeat: repeat-y;
}

#header {
  margin-top: 0px; }

a {
  text-decoration: none;
}


a:hover {
  text-decoration: none;
}


/*TYPOGRAPHY*/

#title0 { 
  color: black;
  background-color: white;
  padding: 10px;
  margin-left: 2%;
  line-height: 4.7em;
}

body {
  background-color: white; }
h1 {
  font-size: 75px;
  line-height: 0.95em;
  /*color: white*/  }
h2 {
  color: white; }
h3 {
  color: white; }

p {
  font-size: 16px;
  color: white;
  padding-left: 5%;
  padding-right: 5%;  
}



#chapter2 p span { 
   background-color: white;
   color: black;
}

#shift{
  display: none;
}

#menu { 
  display: none;
}

.floating-box {
  border: none;
  left: 30px;
  width: 60%;
}

/*FOOTNOTES*/

/*REFERENCES DIV*/
.textnotes {
    background-color: white;
    border: none;
    font-size: 0.8em;
    line-height: 1.2em; 
    width: 19%;
    position: absolute;
    float: left;
    margin-left: 1%; 
    padding-top: -10px;
    z-index: 1;
    margin-top: -17px;
}

img {
    max-width: 250px;
    max-height: 100%;
    margin-bottom: 10px;
    border-style: none;


}

.images {
    overflow: hidden;
    font-size: 0.7em;
    width: 26%;
    float: left;
    margin-top: 22px;
    margin-left: 10.2%;
    margin-right: -100%;
    z-index: -2;

}

}
