
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html, body { height: 100% }

body {
  background-color: #dddddd; 
  background-image: url("img/background1.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}

::selection {
  background: blue; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffdf57; /* Gecko Browsers */
}

::-webkit-scrollbar {
    width: 11px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 100px rgba(194,0,255,1); 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 100px rgba(255,255,255,1);
}
  
/*TYPOGRAPHY*/

/*@font-face { 
font-family: 'Suisse Works'; 
  src: url('suisseworks-regular-webs.ttf'); 
  font-style: normal; 
  font-weight: 100;
  }  

@font-face { 
  font-family: 'Suisse Works'; 
  src: url('suisseworks-medium-webs.ttf'); 
  font-style: bold; 

  } 
 
@font-face { 
  font-family: 'Suisse Works';
  src: url('suisseworks-regularitalic-webs.ttf');
  font-style: italic; 
} */


h1 {
  /*PAGE TITLE*/
  font-weight: normal;
  letter-spacing: 0.005em;
  font-size: 70px;
  margin-left: 1%;
  text-align: left;
}

h2 {
  /*SHIFT*/
  font-weight: normal;
  color: white;
  margin-left: 20px; 
  margin-right: 7px;
  text-align: justify;
  text-align-last: justify;

}

h3 {
  /*MINI TITLE*/
  font-family: 'Suisse Works';     
  font-style: italic;
  font-weight: 100;
  font-size: 13px;
  color: #dae8ee;
}

h4 {
  /*SUBTITLE*/
  font-family: 'Suisse Works';     
  font-style: italic;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 18px;
  color: black;
  padding-left: 13%;
  padding-right: 13%;
}

p {
  font-family: 'Suisse Works'; 
  font-weight: 100;
  font-size: 21px;
  color: white;  
  text-align: left;
  line-height: 1.4em;
}

#p2 {
  text-indent: 30px;
}

p span { 
    background-color: red; 
    padding: 3px;

}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
}


/*CONTENT*/


#title1 { /*INTRODUCTION*/
  color: #f9d500;
  background-color: red;
  padding: 10px;
  margin-left: 2%;
}


#title2 { /*CHAPTER ONE*/
  color: black;
  background-color: #f9d500;
  padding: 10px;
  margin-left: 2%;
}


#title3 { /*THE 2ND ACT*/
  color: white;
  background-color: #000fc9;
  padding: 10px;
  margin-left: 2%;
}


#title4 { /*PHASE III*/
  color: white;
  background-color: #06ff00;
  padding: 10px;
  margin-left: 2%;
}


#title5 { /*FINALE*/
  color: #f9d500;
  background-color: red;
  padding: 10px;
  margin-left: 2%;
}


#shift {
  text-transform: uppercase;
  background-color: #c200ff;
  position: fixed;
  display: inline-block;
  overflow:hidden;
  right: -1%;
  bottom: 0;
  line-height: 80px;
  font-size: 210%;
  transform-origin: bottom right;
  -webkit-transform-origin: bottom right;
  width: 100vh;
  height: 9%;
  -webkit-transform: rotate(90deg) translateY(80px);
  -moz-transform: rotate(90deg) translateY(80px);
  -o-transform: rotate(90deg) translateY(80px);
  -ms-transform: rotate(90deg) translateY(80px);
  transform: rotate(90deg) translateY(80px);
  z-index: 100;
}

#shift:after {
  content: " ";
  display: inline-block;
  width: 100%;
}


/*IMAGES*/

img {
    max-width: 320px;
}

.images {
    overflow: hidden;
    font-size: 0.7em;
    width: 26%;
    float: left;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: -100%;
    z-index: -2;
}


/*MENU ON SIDE*/
#menu {
  font-family: 'Suisse Works'; 
  font-weight: 100;
  font-size: 14px;
  color: white;
  position: fixed;
  left: 30px; 
  bottom: 2.5%;
}


/* REFERENCE NUMBERS IN TEXT*/
.refnote {
    color: #fcc200;
    font-size: 85%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.4em;
    
}

.refnote:hover {
    color: black;
}

/*REFERENCES DIV*/
.textnotes {
    background-color: white;
    font-size: 0.7em;
    width: 14.5%;
    float: right;
    margin-right: 6.4%;
    z-index: -2;
}

/*REFERENCE TEXT IN DIV(URL ECT.)*/
.textnotes p {
    color: #0018ff;
    margin-bottom: 1em;
    margin-top: 1.3em;
    margin-left: 1em;
    margin-right: 0.8em;
    font-size: 1.1em;
    line-height: 1.7em;
}

.textnotes a {
    text-decoration: none;
    color: #8a95ff;

}

.textnotes a:hover {
    color: #fcc200;
}

/*NOTE NUMBER ON SIDE*/
.notenumber {
    font-size: 1.1em;
    text-decoration: none;
    color: black;
    background: none;
}

.notenumber a:hover {
    color: #fcc200;
}


/*#mainMenuBarAnchor {
  padding-top: 20px;

}*/

/*#icon {
  position: absolute;
  background-image: url("img/logo.png");
  background-repeat: no-repeat;
  right: 88%;
  height: 90px;
  width: 90px;
}

#icon:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.stick {
  position: fixed !important;
  top: 0;
  margin-top: 20px;
}
*/

.floating-box {
  display: inline;
  float: left;
  position: relative;
  width: 45%;
  margin-left: 32%;
/*  border-top: solid  1px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-bottom: solid 1px;*/
}

article {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

#art-1 {
  background-color: #dddddd; 
  background-image: url("img/background1.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}

#art-2 {
  background-color: #dddddd; 
  background-image: url("img/background2.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
}

#art-3 {
  background-image: url("img/background3.jpg");
  background-repeat: repeat;
}

#art-4 {
  background-image: url("img/background4.jpg");
  background-repeat: repeat;
}

#art-5 {
  background-image: url("img/background5.jpg");
  background-repeat: repeat;
}

/*IMAGES*/

#img-left {
  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  top: -17px;
  left: -25%;
  margin: 20px;

}

#img-right {
  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  right: -25%;
  float
  margin: 20px;

}

/*@media*/

@media screen and (min-width: 480px) {
  nav {
      width: 200px;
      float: left;     /* This makes it float to the left of the main content */
      margin-left: 0;
  }

}

@media screen and (max-width: 480px) {
   
.floating-box {
  top: 5%;
  width: 90%;
  margin-left: 13%;
  margin-right: 3%;
  }

#shift {  
  right: -13%;
  height: 7%;
  line-height: 45px;
}

h1 {
  font-size: 50px;
  line-height: 50px;
}

h2 {
  font-size: 18px;
  padding-left: 5%;
  padding-right: 5%;
}
p {
  font-size: 14px;
  padding-left: 5%;
  padding-right: 5%;
  /*text-indent: 50px;*/
}

  }


@media only print {

#header {
  margin-top: 0px; }

/*TYPOGRAPHY*/

body {
  background-color: white; }
h1 {
  font-size: 75px;
  line-height: 79px;
  background-color: white;
  color: black }
h2 {
  background-color: white;
  color: black; }
h3 {
  background-color: white;
  color: black; }

p {
  font-family: 'Suisse Works'; 
  font-weight: 100;
  font-size: 16px;
  color: black;
  padding-left: 5%;
  padding-right: 5%;  
}

/*ELEMENTS*/
/*
#menu {
    top: 285px;
    background-color: white;
    border: none;

    margin-top: 55px;
    font-size: 0.7em;
    line-height: 1.4em;
    
    width: 18%;
    position: absolute;
    float: left;
    padding: 10px;
    padding-top: -10px;
    z-index: 1;
}*/

.floating-box-top {
  background-color: white;
  border: none;
  left: 20px;
  width: 70%;
}

.floating-box {
  background-color: white;
  border: none;
  left: 20px;
  width: 70%;
}

.floating-box-bottom {
  background-color: white;
  border: none;
  left: 20px;
  width: 70%;
}

/*FOOTNOTES*/

.textnotes {
    background-color: white;
    border: none;

    margin-top: 55px;
    font-size: 0.6em;
    line-height: 1.2em;
    
    width: 18%;
    position: absolute;
    float: left;
    padding: 15px;
    padding-top: -10px;
    z-index: 1;

}

}
